@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;

  background:
    linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.8)
    ),
    url('https://wallpapercave.com/wp/wp2483044.png');

  background-size: cover;
  background-position: center;

  min-height: 100vh;

  color: white;
}